@font-face {
  font-family: dirtyline;
  src: url("assets/fonts/Dirtyline.otf");
}

@font-face {
  font-family: fulcher;
  src: url("assets/fonts/Fulcher.otf");
}

@font-face {
  font-family: roboto;
  src: url("assets/fonts/Roboto.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #000;
  background-image: url("assets/img/background3.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  font-family: roboto;
}

h1 {
  font-family: dirtyline;
  text-transform: uppercase;
  font-size: clamp(5em, 10vw, 9.5em);
  text-align: center;
}

h2 {
  text-align: center;
}

h2 span {
  font-family: fulcher;
  font-size: clamp(2em, 3vw, 2.5em);
}

/* Responsive design for mobile devices */
@media (max-width: 1600px) {
  body {
    background-image: none;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    background-size: contain;
    background-position: center;
  }
}
